
Arquivos/Estatistica/~$ova 01.docx
Arquivos/Estatistica/~$Prova 01.xlsx
/Arquivos/WebServer/nbproject/private/
/Arquivos/WebServer/build/
/Arquivos/WebServer/dist/
/Arquivos/mavenproject1/target/
/Arquivos/FutebolTestes/target/
